*{
    margin: 0;
    padding: 0;
}


/*  Common shared style */
span{
    color: #F948B2;
}
.text-primary{
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
    }
/* navbar design */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 240px;
}
.logo{
    display: flex;
    gap: 30px;
    align-items: center;
}
.logo img{
    width: 86.041px;
    height: 40px;
}
.logo h3{
    text-align: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
}
nav ul {
     display: flex;
}
nav ul li{
    list-style: none;
    padding: 10px 32px;
}
nav ul li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.design{
    background: #ead7d7;
    border-radius: 10px;
    gap: 5px;
} 
/* This is banner */
.banner{
background-image: url(images/Group\ 14.png);
background-repeat: no-repeat;

}
.banner-content{
    display: flex;
    margin: 0 240px;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.banner-info{
    /* background-image: url(images/Group\ 14.png); */
    width: 100%;
}
.banner-info h3{ 
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-info h1{
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    color:rgba(249, 72, 178, 1);
}
.banner-info ul li{
    list-style: none;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}
.banner-img img{
    width: auto;
}
.button{
    margin-top: 30px;
    padding: 10px;
}
.btn-primary{
    color: #FFF;
    background: #F948B2 ;
    border: 0;
    border-radius: 48px;
    padding: 16px 25px;
}
.btn-secondary{
    color: #FFF;
    background: #4EC5F7; ;
    border: 0;
    border-radius: 48px;
    padding: 16px 30px;
}
/* we are gammer */
.gammer-container{
    display: flex;
    margin: 10px 240px ;
    align-items: center;
    justify-content: center;
}
.gammer-info{
    text-align: right;
}
.gammer-info p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}
.gammer-info h5 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    margin-top: 24px;
}
/* Online Games Funny Videos Section */
.online-game-info{
    margin-top: 80px;
    text-align: center;
}
.online-game-info h2{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 32px;
}
.online-game-info p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
}
.game-image-container{
    margin: 35px 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: left;
}
.container {
  position: relative;
  width: 50%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-bottom: 20px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .image {
  opacity: 0.6;
  border: 5px solid #F948B2;
  border-radius: 15px;
}
.container:hover .middle {
  opacity: 1;
}
.play {
  font-size: 36px;
}
.playing-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    margin: 110px 240px;
}
.playing-info{
text-align: right;
margin-right: 120px;
}
.playing-info-2{
    text-align: left;
    margin-left: 90px;
}
.playing-img{
width: auto;
position: relative;
}
.img-2{
    position: absolute;
    width: 50%;
    bottom: -50px;
    left:-100px;
}
.img-1{
    width: 100%;
    position: relative;
}
.img-11{
    width: 100%;
    position: relative;
}
.img-22{
    position: absolute;
    width: 50%;
    bottom: -50px;
    right:-100px;
}
/* This section is for Sponsors */

.sponsors-container{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 240px;
    align-content: center;
    justify-content: center;
    column-gap: 150px;
    row-gap: 60px;
}
.contain{
    display: flex;
    align-items: center;
    gap: 5px;
}
.contain:hover{
    border: 2px solid #F948B2;
    padding: 8px 40px;
    border-radius: 40px;
    color: #F948B2;
}
/* This is Footer */
.footer{
    background: #0B0223; 
    color: #FFF;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
    margin-top: 100px;
}
.logo-1 h3{
    color: #FFF;
}
.logo-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-info ul{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}
.about-info ul li{
    list-style: none;
}
.about-info ul li a {
text-decoration: none;
color: #fff;
}
.button-1{
    justify-content: center;
    align-items: center;
}
.button-1 button{
    margin:35px 30px;
    font-size: 30px;
}
.desc{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

/* =====Responsive design for Mobile device===== */
.button-1 button a i{
    background: none;
    color: red;
}
/*  */
@media only screen and (max-width: 576px){
    body{
      position: relative;
      overflow-x: hidden;
    }
    nav{
       flex-direction: column;
       margin: 10px 0 ;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        margin: 10px 0 ;
        
    }
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-info{
        width: 400px;
        margin: auto 0;
        text-align: center;
    }
    .banner-img{
        width: 400px;
    }
    .banner-img img{
        width: 400px;
        margin: auto 0;
    }
    .gammer-container{
        flex-direction: column;
        margin: 20px 0;
    }
    .gammer-img img{
        width: 400px;
        justify-content: center;
    }
    .gammer-info{
        width: 400px;
        text-align: center;
    }
    .game-image-container{
        flex-direction: column;
        margin: auto 0;
        text-align: center;
    }
    .online-game-info{
        width: auto;
        text-align: center;
        margin: 0;
    }
    .online-game-info h2{
        font-size: 32px;
    }
.playing-container{
    flex-direction: column;
    margin:40px 0;
    padding: 0;
}
.playing-info{
    align-items: center;
    text-align: center;
    margin: 0;
}
.playing-info .text-primary{
    font-size: 30px;
}
.playing-img{
    width: 300px;
    margin: 0px;
}
.playing-img img{
    max-width: 300px;
}
.playing-img .img-22{
    width: 200px;
}
.playing-img .img-2{
    width: 200px;
}
.sponsors-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
}
.sponsors-container .contain img{
    width: 50%;
}
.about-info ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 20px;
    row-gap: 10px;
    column-gap: 40px;
}
.button-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: centers;
    row-gap: 10px;
    column-gap: 40px;
}
.desc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-container p{
    display: block;
}
}

/* ===For medium device=== */
@media only screen and (min-width: 576px) and (max-width: 991px){
    nav{
        flex-direction: column;
        gap: 60px;
    }
    nav ul{
        margin: 0;
        padding: 0;
    }
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-info{
        width: auto;
        margin: auto 0;
        text-align: center;
    }
    .banner-img{
        width: 600px;
    }
    .banner-img img{
        width: 600px;
        margin: auto 0;
    }
    .gammer-container{
        flex-direction: column;
        margin: 20px 0;
    }
    .gammer-img img{
        width: 600px;
        justify-content: center;
    }
    .gammer-info{
        width: 600px;
        text-align: center;
        padding: 0;
    }
    .game-image-container{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
    }
    .container {
        width: 300px;
    }
    .online-game-info{
        width: auto;
        text-align: center;
        margin: 0;
    }
    .playing-container{
        flex-direction: column;
        margin:40px 0;
        padding: 0;
    }
    .playing-container-2{
        flex-direction: column-reverse;
        margin-top: 60px;
    }
    .playing-info{
        align-items: center;
        text-align: center;
        margin: 0;
    }
    .playing-info .text-primary{
        font-size: 30px;
    }
    .playing-img{
        width: 500px;
        margin: 0px;
    }
    .playing-img img{
        max-width: 600px;
    }
    .playing-img .img-22 ,.img-2{
        width: 250px;
    }
    .sponsors-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 100px;
        padding: 0;
    }
    .sponsors-container .contain img{
        width: 50%;
    }
  
}
